<!DOCTYPE html>
  <head>
    <title>Enter a property </title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <base href="/list">
  </head>
<body id='list'>
I got the list in the erbbbbb
<br>

<% @space.each do |space|%>
  Name: <%= space.space_name%>
  <br>
  City: <%= space.city%>
  <br>
  Description: <%= space.description%>
  <br>
  Price per night: <%= space.ppn%>
  <br>
  Image: <a> <img src = <%= space.image %> style="width:7em; height:8em;"> </a>
  <br>
<%end%>

<form action='/book'>
  <button class='submit' type='submit'>Book Book Book</button>
</form>

<form action='/portal'>
<input class='submit' type='submit'>Take Me Home Country Road</button>
</form>
</body>
</html>
