I got the list in the erbbbbb
<br>
<br>

<% @space.each do |space|%>
  Name: <%= space.space_name%>
  <br>
  City: <%= space.city%>
  <br>
  Description: <%= space.description%>
  <br>
  Price per night: <%= space.ppn%>
  <br>
  Image: <a > <img src = <%= space.image %> style="width:7em; height:8em;"> </a>
  <br>
<%end%>

<form action='/portal'>
<input type='submit' value='Take Me Home Country Road'>