<!DOCTYPE html>
  <head>
    <title>Enter a property </title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <base href="/list">
  </head>
<body id='list'>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<b><h2>Displaying Toad-ally great properties</h2></b>

<br>
<img src = https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGYuruH0lEPywrKNplQfcPMC_xp-WegbW6Osl-rTHt2klW55ax&s > 
<br>


<% @space.each do |space|%>
  Name: <%= space.space_name%>
  <br>
  City: <%= space.city%>
  <br>
  Description: <%= space.description %>
  <br>
  Price per night: <%= space.ppn%>
  <br>
  <a> <img src = <%= space.image %> style="width:7em; height:8em;"> </a>

  <br>

<%end%>

<form action='/book'>
  <input type='submit' value='Book a stay in a toad-ally great property'>
</form>

<form action='/portal'>
<input type='submit' value='Take me home country road'>
</form>
<img src = https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGYuruH0lEPywrKNplQfcPMC_xp-WegbW6Osl-rTHt2klW55ax&s > 
</body>
</html>
